<h2 style='text-align:center'>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.email_field :name, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Name" %><br />
  </div>
  <div class="field form-group">
    <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder:"Email" %><br/>
  </div>

  <div class="field form-group">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: 'Password' %><br/>
  </div>

  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: 'password_confirmation' %><br/>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
